.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 1128px;
    margin: 24px auto;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    transition: transform .3s;
}

.gallery-item:hover,
.gallery-item:focus {
    transform: scale(1.05);
}